<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Link de Github y Foto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <!-- Imagen en la parte superior con dimensiones -->
  <ion-img src="../../assets/icon/imagen.png" alt="Eduardo Caza" 
           style="width: 100%; height: 200px;"></ion-img>

  <!-- Botón de enlace a GitHub en la parte inferior -->
  <ion-footer class="ion-padding">
    <ion-button expand="block" href="https://github.com/Eduardo-Caza/Prueba-1-Movil" target="_blank">
      <ion-icon name="logo-github" slot="start"></ion-icon>
      Repositorio Github de esta aplicacion
    </ion-button>
  </ion-footer>
</ion-content>
