<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Biografía de Eduardo Caza
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Biografía</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenedor principal de la biografía del autor -->
  <ion-grid class="ion-padding">
    
    <!-- 1. Foto de Perfil -->
    <ion-row class="ion-justify-content-center ion-margin-bottom">
      <ion-avatar>
        <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSw6DnStQ5ZbhsJrX4fy92pfoPYfztr-ohBig&s" alt="Foto de Samuel Torres"></ion-img>
      </ion-avatar>
    </ion-row>

    <!-- 2. Nombre Completo -->
    <ion-row class="ion-justify-content-center">
      <ion-label>
        <h1>Eduardo Caza</h1>
      </ion-label>
    </ion-row>

    <!-- 3. Título/Profesión -->
    <ion-row class="ion-justify-content-center ion-margin-bottom">
      <ion-label>
        <h2>Desarrollador de Software</h2>
      </ion-label>
    </ion-row>

    <!-- 4. Breve Descripción -->
    <ion-row class="ion-padding">
      <ion-text>
        <p>
          Eduardo Caza es un estudiante a tiempo completo de la Escuela Politecnica Nacional cursando su ultimo semestre en la prestigiosa Universidad.
          Los esfuerzos que se realizan dia a dia solo son un sacrificio para una mejor recompensa que llegara con el tiempo.
        </p>
      </ion-text>
    </ion-row>

    <!-- 5. Fecha de Nacimiento -->
    <ion-item>
      <ion-label>Fecha de Nacimiento</ion-label>
      <ion-text>05 de Junio de 2003</ion-text>
    </ion-item>

    <!-- 6. Lugar de Nacimiento -->
    <ion-item>
      <ion-label>Lugar de Nacimiento</ion-label>
      <ion-text>Ecuador, Quito</ion-text>
    </ion-item>

    <!-- 7. Educación -->
    <ion-row class="ion-margin-top">
      <ion-label>
        <h3>Educación</h3>
      </ion-label>
    </ion-row>
    <ion-list>
      <ion-item>Desarrollo de Software - Escuela Politecnica Nacional</ion-item>
      <ion-item>Bachillerato Tecnico en Informatica - Colegio Cinco de Junio</ion-item>
    </ion-list>

    <!-- 8. Experiencia Laboral -->
    <ion-row class="ion-margin-top">
      <ion-label>
        <h3>Experiencia Laboral</h3>
      </ion-label>
    </ion-row>
    <ion-list>
      <ion-item>Atencion al Cliente</ion-item>
      <ion-item>Experiencia menor en DevOps</ion-item>
      <ion-item>Conocimientos intermedios en herramientas AWS</ion-item>
    </ion-list>

    <!-- 9. Obras Publicadas -->
    <ion-row class="ion-margin-top">
      <ion-label>
        <h3>Repositorios Publicadas</h3>
      </ion-label>
    </ion-row>
    <ion-list>
      <ion-item>"QuitoTech - Tesis"</ion-item>
      <ion-item>"Cinepoli - Sistema en Java"</ion-item>
      <ion-item>"Gestor de Eventos - Sistema en React JS"</ion-item>
    </ion-list>

    <!-- 10. Premios y Reconocimientos -->
    <ion-row class="ion-margin-top">
      <ion-label>
        <h3>Certificados</h3>
      </ion-label>
    </ion-row>
    <ion-list>
      <ion-item>Ingles Nivel Intermedio CEC</ion-item>
      <ion-item>Bachillerato Tecnico Informatica</ion-item>
    </ion-list>

    <!-- 11. Cita Favorita -->
    <ion-row class="ion-padding">
      <ion-text>
        <blockquote>
          "Un Desarrollador de Software no implementa código limpio con un latigo atrás" - Rafael Gomez 
        </blockquote>
      </ion-text>
    </ion-row>

    <!-- 12. Intereses -->
    <ion-row class="ion-margin-top">
      <ion-label>
        <h3>Intereses</h3>
      </ion-label>
    </ion-row>
    <ion-chip>Historia</ion-chip>
    <ion-chip>Arquitectura de Software</ion-chip>
    <ion-chip>Programacion</ion-chip>

    <!-- 13. Redes Sociales -->
    <ion-row class="ion-margin-top">
      <ion-label>
        <h3>Redes Sociales</h3>
      </ion-label>
    </ion-row>
    <ion-buttons>
      <ion-button href="https://github.com/Eduardo-Caza" target="_blank">
        <ion-icon name="logo-github"></ion-icon>
      </ion-button>
      <ion-button href="https://www.facebook.com/eduardo.caza.779" target="_blank">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button href="https://www.instagram.com/eduardocaza.3info/" target="_blank">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- 14. Contacto -->
    <ion-item class="ion-margin-top">
      <ion-label position="floating">Mensaje para el Autor</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-button expand="block" color="primary">Enviar Mensaje</ion-button>

    <!-- 15. Mapa de Ubicación -->
    <ion-row class="ion-margin-top">
      <ion-label>
        <h3>Ubicación</h3>
      </ion-label>
    </ion-row>
    <div class="map-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7908947984433!2d-78.49315912527669!3d-0.21244129978546672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a107e1cd44b%3A0x88a284f66939ed4!2sESCUELA%20POLIT%C3%89CNICA%20NACIONAL!5e0!3m2!1ses-419!2sec!4v1729881890061!5m2!1ses-419!2sec"
        width="100%"
        height="300"
        loading="lazy"
        title="Ubicación de Samuel Torres">
      </iframe>
    </div>
  </ion-grid>
</ion-content>
